@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --title-color: #001858;
  --paragraph-color: #172c66;
  --side-color: #0c416d;
  --side-title: #fff;
  --side-text: #cfd0d8;
  --footer-color: #000000;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html{
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
}

header{
  background-color: var(--footer-color);
  padding: 2rem;
}

.titulo1 {
  font-family: 'Raleway', sans-serif;
  align-items: left;
  color: #fff;
  font-size: 4rem;
}

main {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: stretch; 
  flex-grow: 1;
}

aside {
  background-color: var(--side-color);
  padding: 2rem;
  flex-basis: 30%;
  text-align: center;
}

aside h2{
  color: var(--side-title);
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: inline-flex;
  border-bottom: 3px solid var(--side-text);
}

aside section{
  margin-top: 2rem;
}

aside p{
  color: var(--side-text);
  text-align: center;
  font-size: 1.3rem;
}

aside b{
  color: var(--side-title);
}

nav{
  text-align: center;
}

nav a.nav__s{
  color: var(--side-text);
  font-size: 1.5rem;
}

aside .contactos{
  margin-top: 5rem;
}

aside .educacion{
  margin-top: 5rem;
}

aside .sugerencias{
  margin-top: 5rem;
}

aside label{
  color: var(--side-text);
}

aside input {
  color: #423535;
}

.form label {
  margin-left: 0;
  display: block; 
  text-align: left;
  margin-right: 10px;
}

.form .form__input {
  display: block; 
  width: 70%; 
  margin-bottom: 10px; 
}

.right-side {
  flex-basis: 64%;
  padding: 0;
  text-align: center;
}

.right-side h2{
  display: inline-flex;
  border-bottom: 3px solid var(--footer-color);
}

.nav .nav__titulo {
  font-family: 'Gilda Display', serif;
}

h2,
h3,
h4,
h5 {
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

p {
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.right-side li{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 3rem;
}

.image-profile {
  margin-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: auto;
  height: auto;
}

table {
  border: 1px solid rgb(215, 216, 223);
  border-spacing: 0;
  stroke: #000000;
  background-color: #fafafa;
  max-width: 100%;
  overflow-x: auto;
}

th,
tr,
td {
  text-align: center;
  vertical-align: top;
  border: 0.1rem solid #2a3468;
}

th {
  color: #001858;
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem;
  padding: 0.2rem;
}

tr,
td {
  color: #2b3774;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table {
  margin: 0 auto;
}

.images{
  max-width: 100%;
  height: auto;
}

.video-proyecto{
  width: 50%;
  height: 300px;
}

.form {
  text-align: left;
  margin-left: 2rem;
  display: block;
  margin-bottom: 6rem;
}

.form input {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form label {
  font-size: 1rem;
}

.form .form__enviar {
  padding: 1rem;
  border-radius: 2rem;
}

.footer {
  background-color: var(--footer-color);
  padding: 2rem;
}

.footer .copyright {
  color: var(--side-text);
}

@media screen and (max-width: 1200px) {
  main{
    flex-direction: column;
  }
  
  aside{
    flex-basis: 100%;
  }



}