@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --title-color: #001858;
  --paragraph-color: #172c66;
  --side-color: #0c416d;
  --side-title: #fff;
  --side-text: #cfd0d8;
  --footer-color: #000000;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}


main{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

header{
  background-color: rgb(0, 0, 0);
}

.titulo1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--side-title);
}

.left-side .titulo2 {
  color: var(--side-title);
  text-align: center;
  font-size: 3.5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.left-side p{
  color: var(--side-text);
  text-align: center;
  font-size: 1.3rem;
  padding: 0.3rem;
}

.nav{
  text-align: center;
}

.nav h2{
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--side-title);
}

.nav .nav__titulo{
  font-family: 'Gilda Display', serif;
}

.nav .nav__s{
  align-self: center;
  color: var(--side-text);
  font-size: 2rem;
  padding-bottom: 10rem;
}

.right-side{
  width: 70%;
  max-width: 70%;
  flex-basis: 0;
  flex-grow: 999;
  text-align: center;
}

.left-side{
  flex-basis: 30%;
  width: 100%;
  flex-grow: 1;
  overflow-x:none;
  background-color: var(--side-color);
  padding: 1rem 1rem 1rem 1rem;
}

h2, h3, h4, h5 {
  font-family: 'Gilda Display', serif;
}

p{
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.5rem;
}

.right-side section{
  margin-bottom: 3rem;
}

.right-side h2{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.image-profile{
  margin-top: 1rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.contactos h2{
  margin-top: 3rem;
}

.habilidades ul {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 4rem;
}

.habilidades li{
  margin-bottom: 1rem;
}

table{
  border: 1px solid rgb(215, 216, 223);
  border-spacing: 0;
  stroke: #000000;
  background-color: #fafafa;
  max-width: 100%; /* Limita el ancho máximo de la tabla */
  overflow-x: auto; /* Agrega barras de desplazamiento horizontal cuando sea necesario */
}

th, tr, td{
  text-align: center;
  vertical-align: top;
  border: 0.1rem solid #2a3468;
}

th {
  color: #001858;
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem;
  padding: 0.2rem;
}

tr, td{
  color: #2b3774;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.proyectos-table{
  margin: 1rem;
  display: grid;
  text-align: center;
  justify-items: center;
}

.video-proyecto{
  margin-top: 2rem;
  max-width: 100%;
  width: 500px;
  height: 300px;
}

.proyectos h3{
  font-size: 2rem;
  margin-top: 2rem;
}

.experiencia{
  text-align: center;
}

.experiencia table{
  margin: 0 auto;
}

.texto-alternativo, .texto-alternativo b{
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form{
  text-align: left;
  margin-left: 2rem;
}

.form input{
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form label{
  font-size: 1rem;
}

.form .form__enviar{
  padding: 1rem;
  border-radius: 3rem;
}

.footer{
  background-color: var(--footer-color);
  padding: 1rem;
}

.footer .copyright{
  color: var(--side-text);
}

@media screen and (max-width: 768px) {
  .proyectos image video{
    max-width: fit-content;
    max-height: fit-content;
  }

  table{
    max-width: fit-content;
    max-height: fit-content;
  }

  footer{
    max-width: max-content;
  }
}
