@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html{
  display: grid;
  border: #363149 3rem solid;
  border-radius: 1rem;
  margin-right: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  background-color: #fef6e4;
  margin-right: 0;
}

.titulo1 {
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  color: #001858;
}

h2, h3, h4, h5 {
  font-family: 'Gilda Display', serif;
  margin-bottom: 0.8rem;
  color: #001858;
  font-size: 2rem;
}

p{
  font-family: 'Martel Sans', sans-serif;
  margin-bottom: 0.8rem;
  color: #172c66;
  font-size: 1.5rem;
}

table{
  border: 1px solid #2a3468;
  border-spacing: 0;
  stroke: #000000;
  background-color: #fef6e4;
}

th, tr, td{
  width: 10%;
  text-align: center;
  vertical-align: top;
  border: 0.1rem solid #2a3468;
}

th {
  color: #001858;
  font-family: 'Gilda Display', serif;
  font-size: 1.3rem;
  padding: 0.4rem;
}

tr, td{
  color: #2b3774;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1rem;
  padding: 0.4rem;
}

.mapa{
  display: inline-flex;
  border: 0.4rem solid #2a3468;
}

.video{
 max-width: 100%;
 height: 300px;
 border: 0.2rem solid #4d4d4d;
 margin-top: 1.3rem;
}

.images{
  max-width: 100%;
  height: auto;
  display: inline-flex;
  border: 0.2rem solid #4d4d4d;
}

.texto-alternativo{
  color: #4e5266;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

input {
  color: #8f8f8f;
  font-family: 'Martel Sans', sans-serif;
}

label, label b{
  color: #062068;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1rem;
}

li {
  color: #172c66;
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.5rem;
}

.nav{
  text-align: center;
}

.nav h2, .nav__titulo {
  color: #172c66;
  font-family: 'Gilda Display', serif;
  margin-bottom: 1rem;
  font-size: 4rem;
}

a {
  font-size: 1.5rem;
  color: #001858;
  font-family: 'Martel Sans', sans-serif;
}

section{
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  margin-right: 0;
}

.info-personal{
  margin: 0;
  padding: 3rem;
  background-color: #8bd3dd;
}

.contactos {
  margin: 0;
  padding: 3rem;
}

.educacion {
  margin: 0;
  padding: 3rem;
  background-color: #8bd3dd;
}

.zona{
  margin: 0;
  padding: 3rem;
  text-align: center;
}

.proyectos {
  background-color: #8bd3dd;
  padding: 3rem;
  margin: 0;
}

.habilidades{
  margin: 0;
  padding: 3rem;
}

.habilidades li{
  margin-left: 4rem;
}

.experiencia{
  margin: 0;
  padding: 3rem;
  background-color: #8bd3dd;
}

.form__input{
  margin-bottom: 0.5rem;
}

.footer{
  padding: 3rem;
  margin: 0;
  padding-bottom: 1rem;
  background-color: #8bd3dd;
}

.footer .copyright{
  color: #172c66;
}

@media screen and (max-width: 768px) {
}